<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script defer src="../static/intro.js"></script>
    <title>about</title>
    <link rel="stylesheet" href="../static/Style.css" />
  </head>
  <body class="web_img">
    <nav>
      <ul class="top_nav">
        <li><a href="index.html">Home</a></li>
        <li><a class="selected-link" href="about_page.html">About</a></li>
        <li><a href="contact_page.html">Contact</a></li>
      </ul>
    </nav>

    <h1 class="header">about us</h1>
    <p class="per">
      The TOGIVE site is actually a platform where you can find voluntary events
      according to a personal search and take a voluntary part in them. On this
      site, people who are interested in giving and contributing to the
      community will be able to find specific volunteer events of associations
      that would be happy to receive the help of those potential volunteers.
      Today there are many people who want to contribute to others and volunteer
      in associations but cannot remain committed to the same association for a
      long time, since in order to participate in association events it is often
      necessary to take an active and prolonged part. TOGIVE provides a solution
      to the problem and presents users with specific events in which they can
      take part without committing to volunteer regularly. This way, people who
      find themselves without plans at certain hours on a specific day will be
      able to use this time to give to society and feel significant.
    </p>

    <h3>The associations that work with us</h3>

    <div class="gallery-row">
      <div class="gallery">
        <a>
          <img src="../static/image/association1.jpg"  width="200" />
        </a>
      </div>

      <div class="gallery">
        <a>
          <img
            src="../static/image/association2.jpg" width="200"
          />
        </a>
      </div>

      <div class="gallery">
        <a >
          <img
            src="../static/image/association3.jpg" width="200"
          />
        </a>
      </div>
    </div>
    <div class="gallery-row">
      <div class="gallery">
        <a>
          <img
            src="../static/image/association4.jpg" width="200"
          />
        </a>
      </div>

      <div class="gallery">
        <a >
          <img
            src="../static/image/association5.jpg" width="200"
          />
        </a>
      </div>

      <div class="gallery">
        <a target="_blank" >
          <img
            src="../static/image/association6.png" width="200"
          />
        </a>
      </div>
    </div>
  </body>
</html>
