<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/Style.css" />

    <script
      type="module"
      type="text/css"
      defer
      src="../static/intro.js"
    ></script>
    <title>TO GIVE</title>
  </head>

  <body class="web_img">
    <nav>
      <ul class="top_nav">
        <li><a class="selected-link" href="index.html">Home</a></li>
        <li><a href="about_page.html">About</a></li>
        <li><a href="contact_page.html">Contact</a></li>
      </ul>
    </nav>

    <h1 class="welcome">W e l c o m e !</h1>
    <h3 class="slogen">Here you can make value from your free time!</h3>
    <br />
    <div id="home-from">
      <a href="login_page.html"> <button class="styled">Login</button> </a>

      <a href="signup_page.html"> <button class="styled">Sign in</button> </a>
    </div>

    <ul class="social_media">
      <a href="https://he-il.facebook.com/" target="_blank">
        <img src="../static/image/facebook-logo.png" class="img" alt="facebook"
      /></a>

      <a href="https://www.instagram.com/" target="_blank">
        <img src="../static/image/instagram.png" class="img" alt="instagram" />
      </a>
    </ul>
  </body>
</html>
