<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/Style.css" />
    <meta charset="UTF-8" />
    <script type="module" defer src="../static/login.js"></script>
    <title>login</title>
  </head>
  <body class="web_img">
    <nav>
      <ul class="top_nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="about_page.html">About</a></li>
        <li><a href="contact_page.html">Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <h1 class="header">Login page</h1>
      <form class="my-from">
        <div>
         
          <input
            id="login_email"
            type="email"
            placeholder="Enter your email"
            name="email"
          />
          
          <input
            id="login_password"
            type="password"
            placeholder="Enter your Password"
            name="psw"
          />
          
          <br />

          </label>
          <a href="#"> <button class="styled" id="login_btn">Login</button> </a>
        </div>
      </form>
    </div>
  </body>
</html>
